<div class="page-header">
  <h1>Profile</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading show-user-inf">
    <div class="user-picture user-inf col-sm-3">
      <%= image_tag @user.image_url %>
    </div>

    <div class="user-name user-inf col-xs-9 col-sm-9 ">
      <h3><%= @user.name %></h3>
    </div>

    <div class="user-gender user-inf col-xs-12 col-sm-6">
      <h3>性別: <%= @user.gender %></h3>
    </div>

    <div class="user-birthplace user-inf col-xs-12 col-sm-6">
      <h3>出身地: <%= @user.birthplace %></h3>
    </div>

    <div class="user-industry user-inf col-xs-12 col-sm-6">
      <h3>業界: <%= @user.industry %></h3>
    </div>

    <div class="user-company user-inf col-xs-12 col-sm-6">
      <h3>企業: <%= @user.company %></h3>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel col-md-6 col-md-offset-3">
      <div class="main-panel user-other-inf">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>力になれること</h3>
          </div>

          <div class="panel-body">
            <div class="panel">
              <%= simple_format(@user.useful_things) %>
            </div>
          </div>
        </div>
      </div>

      <div class="main-panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>その他の情報</h3>
          </div>

          <div class="panel-body">
            <div class="panel">
              <%= simple_format(@user.note) %>
            </div>
          </div>
        </div>
      </div>

      <% if current_user %>
        <%= link_to 'Edit profile', edit_user_path(current_user), class: 'btn btn-default col-md-12 col-xs-12' %>
      <% end %>
    </div>
  </div>
</div>
